<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>trueBody</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <!-- main container signUp -->
    <div class="main_container_class">
        <div class="picture-header">
            <header class="header_signUp">
                <a href="../views/lessons.html"><i class="fas fa-arrow-left"></i></a>
                <p>Boxeo</p>
                <i></i>
            </header>
        </div>
        <!-- content secundary -->
        <div class="father-taps">
            <div class="taps-content">
                <a href="../views/class.html">Detalle</a>
                <a href="../views/classInfo.html">Información</a>
            </div>
            <div class="line"></div>
            <div class="line-active"></div>
        </div>
        <div class="content_class">
            <div class="content-info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, quasi dolore illum fugit tempore aliquam! Animi consequatur facilis reiciendis, ipsa temporibus praesentium, ipsam minus numquam eligendi saepe recusandae, voluptatem nobis.</p>
            </div>
        </div>
        <a href="#" class="booking_class">Reserva clase</a>
    </div>
    <script src="assets/js/app.js"></script>
</body>
</html>