<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>trueBody</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <!-- main container signUp -->
    <div class="main_container_signUp">
        <header class="header_signUp">
            <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
            <p>Registrate</p>
            <i></i>
        </header>
        <!-- content signUp -->
        <div class="content_signUp">
            <img src="assets/images/TrueBody-blanco-8.png" alt="">
            <a href="#" class="signUp_with_facebook">Registrate con facebook</a>
            <form action="" class="form_signUp">
                <div>
                    <label for="" class="label_signUp">Nombres y apellidos</label>
                    <input type="text" placeholder="¿Como te llamas?" class="input_signUp">
                </div>
                <div>
                    <label for="" class="label_signUp">Correo electronico</label>
                    <input type="email" placeholder="tu correo@ejemplo.com" class="input_signUp">
                </div>
                <div>
                    <label for="" class="label_signUp">Contraseña</label>
                    <input type="password" placeholder="Minimo 6 caracteres" class="input_signUp">
                </div>
                <a href="../views/lessons.html" class="sendData">Registrate</a>
            </form>
        </div>
    </div>
    <script src="assets/js/app.js"></script>
</body>
</html>